@model WebsiteBanLinhKienDienTu06.Context.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <div class="card" style="width: 50%; margin: 0 auto;">
            <div class="card-body">
                <h4 class="card-subtitle text-center">Thông tin đơn hàng</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CustomerID)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CustomerID)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EmployeeID)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EmployeeID)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.OrderDate)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.RequireDate)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.RequireDate)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ShippedDate)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ShippedDate)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ShipVia)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ShipVia)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Freight)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Freight)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ShippingAddress)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ShippingAddress)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ContactName)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ContactName)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ContactPhone)
                    </dt>

                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ContactPhone)
                    </dd>
                </dl>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Edit", new { id = Model.OrderID })" class="btn btn-outline-primary">Edit</a>
                <a href="@Url.Action("Index")" class="btn btn-light">Back to List</a>
                @Html.Raw(Html.ActionLink("Xem chi tiết đơn hàng", "Order_Details_ID", "Order", new { id = Model.OrderID }, new { @class = "btn btn-primary" }))
            </div>
        </div>      
    </div> 
</div>