@model WebsiteBanLinhKienDienTu06.Context.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card" style="width: 35%; margin: 0 auto;">
        <div class="card-body">
            <h4 class="text-center">Thông tin khách hàng</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CustomerID)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CustomerID)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Gender)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>

            <div class="row mt-3">
                <div class="col-sm-6">
                    @if (Model != null && Model.CustomerID != null)
                    {
                        <button class="btn btn-outline-primary btn-block" onclick="location.href='@Url.Action("Edit", new { id = Model.CustomerID })'">Sửa thông tin</button>
                    }
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-light btn-block" onclick="location.href='@Url.Action("Index", "Home")'">Back to List</button>
                </div>
            </div>
        </div>
    </div>
</div>


